:root {
  --font-base: 10px;
  --font-body: 1.6rem;
  --font-family: lato, 'Segoe UI', tahoma, geneva, verdana, sans-serif;
  --background-body: #F9FAFB;
  --font-color: #0F172A;
  --color-description: #94A3B8;
  --color-date: #64748B;
  --background-date: #EFF6FF;
  --background-event: #fff;
  --border-radius-event: 1rem;
  --box-shadow-event: 2px 4px 12px 0px rgb(0 0 0 / 8%);
  --box-shadow-event-hover: 2px 4px 16px 0px rgb(0 0 0 / 16%);
  --max-width-container: 1300px;
}