{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-idiomatic-order"
  ],
    "stylelint.validate": [
    "scss"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "ignoreFiles": [
    "build/*"
  ],
  "rules": {
    "selector-class-pattern": [
      "^[a-z]([-]?[a-z0-9]+)*(__[a-z0-9]([-]?[a-z0-9]+)*)?(--[a-z0-9]([-]?[a-z0-9]+)*)?$",
      {
        "resolveNestedSelectors": true
      }
    ]
  }
}
